<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="simple.chatgpt.mapper.management.UserManagementListMemberMapper">

    <!-- ========================= -->
    <!-- ResultMap for POJO fields -->
    <!-- ========================= -->
    <resultMap id="UserManagementListMemberResultMap"
        type="simple.chatgpt.pojo.management.UserManagementListMemberPojo">
        <id property="id" column="id" />
        <result property="listId" column="list_id" />
        <result property="userName" column="user_name" />
        <result property="password" column="password" />
        <result property="firstName" column="first_name" />
        <result property="lastName" column="last_name" />
        <result property="email" column="email" />
        <result property="addressLine1" column="address_line_1" />
        <result property="addressLine2" column="address_line_2" />
        <result property="city" column="city" />
        <result property="state" column="state" />
        <result property="postCode" column="post_code" />
        <result property="country" column="country" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
    </resultMap>

    <!-- 🔎 SEARCH / LIST -->
    <select id="findMembers" parameterType="map" resultMap="UserManagementListMemberResultMap">
        SELECT * FROM user_management_list_member
        <where>
            <if test="params.member != null">
                <if test="params.member.listId != null">AND list_id = #{params.member.listId}</if>
                <if test="params.member.userName != null and params.member.userName != ''">AND user_name LIKE CONCAT('%', #{params.member.userName}, '%')</if>
                <if test="params.member.firstName != null and params.member.firstName != ''">AND first_name LIKE CONCAT('%', #{params.member.firstName}, '%')</if>
                <if test="params.member.lastName != null and params.member.lastName != ''">AND last_name LIKE CONCAT('%', #{params.member.lastName}, '%')</if>
                <if test="params.member.email != null and params.member.email != ''">AND email LIKE CONCAT('%', #{params.member.email}, '%')</if>
                <if test="params.member.addressLine1 != null and params.member.addressLine1 != ''">AND address_line_1 LIKE CONCAT('%', #{params.member.addressLine1}, '%')</if>
                <if test="params.member.addressLine2 != null and params.member.addressLine2 != ''">AND address_line_2 LIKE CONCAT('%', #{params.member.addressLine2}, '%')</if>
                <if test="params.member.city != null and params.member.city != ''">AND city LIKE CONCAT('%', #{params.member.city}, '%')</if>
                <if test="params.member.state != null and params.member.state != ''">AND state LIKE CONCAT('%', #{params.member.state}, '%')</if>
                <if test="params.member.postCode != null and params.member.postCode != ''">AND post_code LIKE CONCAT('%', #{params.member.postCode}, '%')</if>
                <if test="params.member.country != null and params.member.country != ''">AND country LIKE CONCAT('%', #{params.member.country}, '%')</if>
            </if>
        </where>
        <if test="params.sortField != null and params.sortDirection != null">
            ORDER BY ${params.sortField} ${params.sortDirection}
        </if>
        <if test="params.offset != null and params.limit != null">
            LIMIT #{params.offset}, #{params.limit}
        </if>
    </select>

    <select id="searchMembers" parameterType="map" resultMap="UserManagementListMemberResultMap">
        SELECT * FROM user_management_list_member
        <where>
            <if test="params.member != null">
                <if test="params.member.listId != null">AND list_id = #{params.member.listId}</if>
                <if test="params.member.userName != null and params.member.userName != ''">AND user_name LIKE CONCAT('%', #{params.member.userName}, '%')</if>
                <if test="params.member.firstName != null and params.member.firstName != ''">AND first_name LIKE CONCAT('%', #{params.member.firstName}, '%')</if>
                <if test="params.member.lastName != null and params.member.lastName != ''">AND last_name LIKE CONCAT('%', #{params.member.lastName}, '%')</if>
                <if test="params.member.email != null and params.member.email != ''">AND email LIKE CONCAT('%', #{params.member.email}, '%')</if>
                <if test="params.member.addressLine1 != null and params.member.addressLine1 != ''">AND address_line_1 LIKE CONCAT('%', #{params.member.addressLine1}, '%')</if>
                <if test="params.member.addressLine2 != null and params.member.addressLine2 != ''">AND address_line_2 LIKE CONCAT('%', #{params.member.addressLine2}, '%')</if>
                <if test="params.member.city != null and params.member.city != ''">AND city LIKE CONCAT('%', #{params.member.city}, '%')</if>
                <if test="params.member.state != null and params.member.state != ''">AND state LIKE CONCAT('%', #{params.member.state}, '%')</if>
                <if test="params.member.postCode != null and params.member.postCode != ''">AND post_code LIKE CONCAT('%', #{params.member.postCode}, '%')</if>
                <if test="params.member.country != null and params.member.country != ''">AND country LIKE CONCAT('%', #{params.member.country}, '%')</if>
            </if>
        </where>
        <if test="params.sortField != null and params.sortDirection != null">
            ORDER BY ${params.sortField} ${params.sortDirection}
        </if>
        <if test="params.offset != null and params.limit != null">
            LIMIT #{params.offset}, #{params.limit}
        </if>
    </select>

    <!-- Count for pagination -->
    <select id="countMembers" parameterType="map" resultType="long">
        SELECT COUNT(*) FROM user_management_list_member
        <where>
            <if test="params.member != null">
                <if test="params.member.listId != null">AND list_id = #{params.member.listId}</if>
                <if test="params.member.userName != null and params.member.userName != ''">AND user_name LIKE CONCAT('%', #{params.member.userName}, '%')</if>
                <if test="params.member.firstName != null and params.member.firstName != ''">AND first_name LIKE CONCAT('%', #{params.member.firstName}, '%')</if>
                <if test="params.member.lastName != null and params.member.lastName != ''">AND last_name LIKE CONCAT('%', #{params.member.lastName}, '%')</if>
                <if test="params.member.email != null and params.member.email != ''">AND email LIKE CONCAT('%', #{params.member.email}, '%')</if>
                <if test="params.member.addressLine1 != null and params.member.addressLine1 != ''">AND address_line_1 LIKE CONCAT('%', #{params.member.addressLine1}, '%')</if>
                <if test="params.member.addressLine2 != null and params.member.addressLine2 != ''">AND address_line_2 LIKE CONCAT('%', #{params.member.addressLine2}, '%')</if>
                <if test="params.member.city != null and params.member.city != ''">AND city LIKE CONCAT('%', #{params.member.city}, '%')</if>
                <if test="params.member.state != null and params.member.state != ''">AND state LIKE CONCAT('%', #{params.member.state}, '%')</if>
                <if test="params.member.postCode != null and params.member.postCode != ''">AND post_code LIKE CONCAT('%', #{params.member.postCode}, '%')</if>
                <if test="params.member.country != null and params.member.country != ''">AND country LIKE CONCAT('%', #{params.member.country}, '%')</if>
            </if>
        </where>
    </select>

    <!-- 📖 READ -->
    <select id="getMemberById" parameterType="map" resultMap="UserManagementListMemberResultMap">
        SELECT * FROM user_management_list_member WHERE id = #{params.memberId}
    </select>

    <select id="getMemberByUserName" parameterType="map" resultMap="UserManagementListMemberResultMap">
        SELECT * FROM user_management_list_member WHERE user_name = #{params.member.userName}
    </select>

    <!-- ➕ CREATE -->
    <insert id="insertMember" parameterType="map" useGeneratedKeys="true" keyProperty="params.member.id">
        INSERT INTO user_management_list_member
        (list_id, user_name, password, first_name, last_name, email, address_line_1,
        address_line_2, city, state, post_code, country)
        VALUES
        (#{params.member.listId}, #{params.member.userName}, #{params.member.password}, #{params.member.firstName},
        #{params.member.lastName}, #{params.member.email},
        #{params.member.addressLine1}, #{params.member.addressLine2}, #{params.member.city}, #{params.member.state},
        #{params.member.postCode}, #{params.member.country})
    </insert>

    <insert id="batchInsertMembers" parameterType="map">
        INSERT INTO user_management_list_member
        (list_id, user_name, password, first_name, last_name, email,
        address_line_1, address_line_2, city, state, post_code, country)
        VALUES
        <foreach collection="params.list" item="item" separator=",">
            (#{item.listId}, #{item.userName}, #{item.password},
            #{item.firstName}, #{item.lastName},
            #{item.email}, #{item.addressLine1}, #{item.addressLine2}, #{item.city},
            #{item.state}, #{item.postCode}, #{item.country})
        </foreach>
    </insert>

    <!-- ✏️ UPDATE -->
    <update id="updateMemberById" parameterType="map">
        UPDATE user_management_list_member
        <set>
            updated_at = NOW(),
            <if test="params.member.userName != null">user_name = #{params.member.userName},</if>
            <if test="params.member.password != null">password = #{params.member.password},</if>
            <if test="params.member.firstName != null">first_name = #{params.member.firstName},</if>
            <if test="params.member.lastName != null">last_name = #{params.member.lastName},</if>
            <if test="params.member.email != null">email = #{params.member.email},</if>
            <if test="params.member.addressLine1 != null">address_line_1 = #{params.member.addressLine1},</if>
            <if test="params.member.addressLine2 != null">address_line_2 = #{params.member.addressLine2},</if>
            <if test="params.member.city != null">city = #{params.member.city},</if>
            <if test="params.member.state != null">state = #{params.member.state},</if>
            <if test="params.member.postCode != null">post_code = #{params.member.postCode},</if>
            <if test="params.member.country != null">country = #{params.member.country},</if>
        </set>
        WHERE id = #{params.memberId}
    </update>

    <update id="updateMemberByUserName" parameterType="map">
        UPDATE user_management_list_member
        <set>
            updated_at = NOW(),
            <if test="params.member.password != null">password = #{params.member.password},</if>
            <if test="params.member.firstName != null">first_name = #{params.member.firstName},</if>
            <if test="params.member.lastName != null">last_name = #{params.member.lastName},</if>
            <if test="params.member.email != null">email = #{params.member.email},</if>
            <if test="params.member.addressLine1 != null">address_line_1 = #{params.member.addressLine1},</if>
            <if test="params.member.addressLine2 != null">address_line_2 = #{params.member.addressLine2},</if>
            <if test="params.member.city != null">city = #{params.member.city},</if>
            <if test="params.member.state != null">state = #{params.member.state},</if>
            <if test="params.member.postCode != null">post_code = #{params.member.postCode},</if>
            <if test="params.member.country != null">country = #{params.member.country},</if>
        </set>
        WHERE user_name = #{params.member.userName}
    </update>

    <!-- 🗑 DELETE -->
    <delete id="deleteMembersByListId" parameterType="map">
        DELETE FROM user_management_list_member WHERE list_id = #{params.listId}
    </delete>

    <delete id="deleteMemberById" parameterType="map">
        DELETE FROM user_management_list_member WHERE id = #{params.memberId}
    </delete>

    <delete id="deleteMemberByUserName" parameterType="map">
        DELETE FROM user_management_list_member WHERE user_name = #{params.member.userName}
    </delete>

    <!-- Legacy support -->
    <select id="findMembersByListId" parameterType="map" resultMap="UserManagementListMemberResultMap">
        SELECT * FROM user_management_list_member WHERE list_id = #{params.member.listId}
    </select>

</mapper>
