<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="simple.chatgpt.mapper.management.UserManagementListMemberMapper">

    <!-- ========================= -->
    <!-- ResultMap for POJO fields -->
    <!-- ========================= -->
    <resultMap id="UserManagementListMemberResultMap" type="simple.chatgpt.pojo.management.UserManagementListMemberPojo">
        <id property="id" column="id"/>
        <result property="listId" column="list_id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="email" column="email"/>
        <result property="addressLine1" column="address_line_1"/>
        <result property="addressLine2" column="address_line_2"/>
        <result property="city" column="city"/>
        <result property="state" column="state"/>
        <result property="postCode" column="post_code"/>
        <result property="country" column="country"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <!-- 🔎 SEARCH / LIST -->
    <select id="findMembers" parameterType="map" resultMap="UserManagementListMemberResultMap">
        SELECT * FROM user_management_list_member
        <where>
            <if test="params.listId != null">AND list_id = #{params.listId}</if>
            <if test="params.userName != null and params.userName != ''">AND user_name LIKE CONCAT('%', #{params.userName}, '%')</if>
            <if test="params.firstName != null and params.firstName != ''">AND first_name LIKE CONCAT('%', #{params.firstName}, '%')</if>
            <if test="params.lastName != null and params.lastName != ''">AND last_name LIKE CONCAT('%', #{params.lastName}, '%')</if>
            <if test="params.email != null and params.email != ''">AND email LIKE CONCAT('%', #{params.email}, '%')</if>
            <if test="params.addressLine1 != null and params.addressLine1 != ''">AND address_line_1 LIKE CONCAT('%', #{params.addressLine1}, '%')</if>
            <if test="params.addressLine2 != null and params.addressLine2 != ''">AND address_line_2 LIKE CONCAT('%', #{params.addressLine2}, '%')</if>
            <if test="params.city != null and params.city != ''">AND city LIKE CONCAT('%', #{params.city}, '%')</if>
            <if test="params.state != null and params.state != ''">AND state LIKE CONCAT('%', #{params.state}, '%')</if>
            <if test="params.postCode != null and params.postCode != ''">AND post_code LIKE CONCAT('%', #{params.postCode}, '%')</if>
            <if test="params.country != null and params.country != ''">AND country LIKE CONCAT('%', #{params.country}, '%')</if>
        </where>
        <if test="params.sortField != null and params.sortDirection != null">
            ORDER BY ${params.sortField} ${params.sortDirection}
        </if>
        <if test="params.offset != null and params.limit != null">
            LIMIT #{params.offset}, #{params.limit}
        </if>
    </select>

    <!-- Count for pagination -->
    <select id="countMembers" parameterType="map" resultType="long">
        SELECT COUNT(*) FROM user_management_list_member
        <where>
            <if test="params.listId != null">AND list_id = #{params.listId}</if>
            <if test="params.userName != null and params.userName != ''">AND user_name LIKE CONCAT('%', #{params.userName}, '%')</if>
            <if test="params.firstName != null and params.firstName != ''">AND first_name LIKE CONCAT('%', #{params.firstName}, '%')</if>
            <if test="params.lastName != null and params.lastName != ''">AND last_name LIKE CONCAT('%', #{params.lastName}, '%')</if>
            <if test="params.email != null and params.email != ''">AND email LIKE CONCAT('%', #{params.email}, '%')</if>
            <if test="params.addressLine1 != null and params.addressLine1 != ''">AND address_line_1 LIKE CONCAT('%', #{params.addressLine1}, '%')</if>
            <if test="params.addressLine2 != null and params.addressLine2 != ''">AND address_line_2 LIKE CONCAT('%', #{params.addressLine2}, '%')</if>
            <if test="params.city != null and params.city != ''">AND city LIKE CONCAT('%', #{params.city}, '%')</if>
            <if test="params.state != null and params.state != ''">AND state LIKE CONCAT('%', #{params.state}, '%')</if>
            <if test="params.postCode != null and params.postCode != ''">AND post_code LIKE CONCAT('%', #{params.postCode}, '%')</if>
            <if test="params.country != null and params.country != ''">AND country LIKE CONCAT('%', #{params.country}, '%')</if>
        </where>
    </select>

    <!-- 📖 READ -->
    <select id="getMemberById" parameterType="map" resultMap="UserManagementListMemberResultMap">
        SELECT * FROM user_management_list_member WHERE id = #{params.id}
    </select>

    <select id="getMemberByUserName" parameterType="map" resultMap="UserManagementListMemberResultMap">
        SELECT * FROM user_management_list_member WHERE user_name = #{params.userName}
    </select>

    <!-- ➕ CREATE -->
    <insert id="insertMember" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_management_list_member
        (list_id, user_name, password, first_name, last_name, email, address_line_1,
         address_line_2, city, state, post_code, country)
        VALUES
        (#{params.listId}, #{params.userName}, #{params.password}, #{params.firstName}, #{params.lastName}, #{params.email},
         #{params.addressLine1}, #{params.addressLine2}, #{params.city}, #{params.state}, #{params.postCode}, #{params.country})
    </insert>

    <insert id="batchInsertMembers" parameterType="map">
        INSERT INTO user_management_list_member
        (list_id, user_name, password, first_name, last_name, email,
         address_line_1, address_line_2, city, state, post_code, country)
        VALUES
        <foreach collection="params.list" item="item" separator=",">
            (#{item.listId}, #{item.userName}, #{item.password}, #{item.firstName}, #{item.lastName},
             #{item.email}, #{item.addressLine1}, #{item.addressLine2}, #{item.city},
             #{item.state}, #{item.postCode}, #{item.country})
        </foreach>
    </insert>

    <!-- ✏️ UPDATE -->
    <update id="updateMemberById" parameterType="map">
        UPDATE user_management_list_member
        <set>
            <if test="params.userName != null">user_name = #{params.userName},</if>
            <if test="params.password != null">password = #{params.password},</if>
            <if test="params.firstName != null">first_name = #{params.firstName},</if>
            <if test="params.lastName != null">last_name = #{params.lastName},</if>
            <if test="params.email != null">email = #{params.email},</if>
            <if test="params.addressLine1 != null">address_line_1 = #{params.addressLine1},</if>
            <if test="params.addressLine2 != null">address_line_2 = #{params.addressLine2},</if>
            <if test="params.city != null">city = #{params.city},</if>
            <if test="params.state != null">state = #{params.state},</if>
            <if test="params.postCode != null">post_code = #{params.postCode},</if>
            <if test="params.country != null">country = #{params.country},</if>
        </set>
        WHERE id = #{params.id}
    </update>

    <update id="updateMemberByUserName" parameterType="map">
        UPDATE user_management_list_member
        <set>
            <if test="params.password != null">password = #{params.password},</if>
            <if test="params.firstName != null">first_name = #{params.firstName},</if>
            <if test="params.lastName != null">last_name = #{params.lastName},</if>
            <if test="params.email != null">email = #{params.email},</if>
            <if test="params.addressLine1 != null">address_line_1 = #{params.addressLine1},</if>
            <if test="params.addressLine2 != null">address_line_2 = #{params.addressLine2},</if>
            <if test="params.city != null">city = #{params.city},</if>
            <if test="params.state != null">state = #{params.state},</if>
            <if test="params.postCode != null">post_code = #{params.postCode},</if>
            <if test="params.country != null">country = #{params.country},</if>
        </set>
        WHERE user_name = #{params.userName}
    </update>

    <!-- 🗑 DELETE -->
    <delete id="deleteMembersByListId" parameterType="map">
        DELETE FROM user_management_list_member WHERE list_id = #{params.listId}
    </delete>

    <delete id="deleteMemberById" parameterType="map">
        DELETE FROM user_management_list_member WHERE id = #{params.id}
    </delete>

    <delete id="deleteMemberByUserName" parameterType="map">
        DELETE FROM user_management_list_member WHERE user_name = #{params.userName}
    </delete>

</mapper>
